/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2017, 12:47:11 PM
    Author     : jw
*/

body {
    background-color: lightcyan;
    padding:50px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    font-size: 13pt;
}